server {
    listen 80;
    resolver 127.0.0.11;

    location ~ ^/.+/_acme-challenge/TXT/$ {
        proxy_pass http://acme-provider;
    }

    location / {
        root /zones;
        index index.json;
    }
}
